.line.speed {
  fill: none;
  stroke: #34ace4;
  stroke-width: 1px;
}
.line.watts {
  fill: none;
  stroke: #63c;;
  stroke-width: 1px;
}
.altitude {
  fill: lightgrey;
  stroke-width: 0px;
}
.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}
.brush {
  stroke: grey;
  fill: black;
  fill-opacity: 0.1;
}

